#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div {
  margin: 50px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

section {
  margin: 50px;
}

h2 {
  text-align: center;
}

button {
  margin: 5px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
li {
  font-size: 20px;
  margin: 5px;
}

span {
  font-weight: 800;
}

p {
  text-align: center;
}

label {
  display: block;
  margin: 5px;
  text-align: end;
}

input {
  margin-left: 10px;
}
form {
  padding: 10px;
}

div > input {
  width: 100%;
  margin: 0px;
}

.list {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
}
